<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    <add key="AutoLearn" value="true" />
    <add key="AutoReconnect" value="true" />
    <add key="BabbleTime" value="30" />
    <add key="CorrectSpelling" value="true" />
    <add key="DesiredNickname" value="botName" />
    <add key="EnableIdent" value="true" />
    <add key="FlushLog" value="true" />
    <add key="GreetChance" value="5" />
    <add key="Ignore" value="user1,user2" />
    <add key="InitialChannels" value="#channel1,#channel2"/>
    <add key="Interject" value="true" />
    <add key="InterjectChance" value="4" />
    <add key="LearnFile" value="training.txt" />
    <add key="LogFile" value="log.txt" />
    <add key="LogToConsole" value="true" />
    <add key="LogRawTraffic" value="false" />
    <add key="MarkovOrder" value="3" />
    <add key="Port" value="6667" />
    <add key="RejoinOnKick" value="true" />
    <add key="Reply" value="true" />
    <add key="RssFeeds" value="feeds.xml" />
    <add key="Server" value="irc.server.net" />
    <add key="TypingDelay" value="70" />
    <add key="UseConversationBrains" value="true" />
    <add key="Verbose" value="false" />
    -->
  </appSettings>
</configuration>